.about-inner {
  display: flex;
  align-items: end;
  gap: 30px;
  padding: 50px 0;
}

@media screen and (max-width: 1200px) {
  .about-inner {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  .about-inner {
    padding: 0px;
  }
}

.team-info {
  color: rgba(44, 45, 53, 1);
}

.team-info h2 {
  font-size: 2em;
  font-weight: 500;
}

.team-info div {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 12px 0;
}

.members__command {
  /* margin-top: 20px; */
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 576px) {
  .about-inner img {
    max-width: 375px;
  }
}
