.footer {
  background-color: #e1ede6;
  margin-top: 70px;
}

.block__footer {
  display: flex;
  /* justify-content: space-between; */
  padding: 23px 0px;
  gap: 115px;
}

@media screen and (max-width: 1200px) {
  .block__footer {
    gap: 148px;
  }
}

@media screen and (max-width: 970px) {
  .block__footer {
    gap: 75px;
  }
}

@media screen and (max-width: 768px) {
  .block__footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.footer__tel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__tel {
    display: flex;
    flex-direction: row;
  }

  .footer__tel img {
    max-width: 143px;
    max-height: 35px;
  }
}

@media screen and (max-width: 576px) {
  .footer__tel {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .footer__tel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
}

.footer__navigation {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 60px;
}

@media screen and (max-width: 768px) {
  .footer__navigation {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
  }
}

@media screen and (max-width: 576px) {
  .footer__navigation {
    gap: 100px;
  }
}

.element-footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.element-footer__navigation h4 {
  font-size: 20px;
}

.element-footer__navigation a {
  line-height: 150%;
  color: #86928b;
}

.p-footer p {
  color: #86928b;
}

@media screen and (max-width: 768px) {
  .p-footer p {
    font-size: 12px;
  }
}
.social {
  /* display: flex; */
}

@media screen and (max-width: 1200px) {
  .social {
    gap: 248px;
  }
}

@media screen and (max-width: 768px) {
  .social {
    /* display: flex;
    flex-direction: column; */
    max-width: 132px;
    gap: 0px;
    display: flex;
    flex-wrap: wrap;
    max-height: 68px;
  }
}

@media screen and (max-width: 576px) {
  .social {
    display: flex;
    max-width: 176px;
    max-height: 48px;
  }
}

@media screen and (max-width: 320px) {
  .social {
    display: flex;
  }
}

.footer__dable {
  display: flex;
  gap: 248px;
}

@media screen and (max-width: 1126px) {
  .footer__dable {
    gap: 75px;
  }
}

@media screen and (max-width: 768px) {
  .footer__dable {
    display: flex;
    justify-content: space-between;
    gap: 75px;
  }
}

@media screen and (max-width: 622px) {
  .footer__dable {
    gap: 40px;
  }
}

@media screen and (max-width: 576px) {
  .footer__dable {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.social_img {
  /* gap: 30px; */
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .social_img {
    max-height: 32px;
  }
}
