.header {
  background: #e1ede6;
  min-height: 100px;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_logo img {
  width: 143px;
  height: 35px;
}

.header_nav_list {
  display: flex;
  align-items: center;
  gap: 60px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

@media screen and (max-width: 1200px) {
  .header_nav-list {
    font-size: 18px;
  }
}

.header_nav-link {
  display: flex;
  align-items: center;
  color: #2c2d35;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  align-items: center;
}

.header_nav-link:hover {
  color: #598d66;
}

.header_nav {
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 768px) {
  .header_nav {
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    /* padding-top: 16px; */
    /* border-top: 1px solid #c3d1c6; */
  }
}


