.hero {
    display: flex;
    align-items: center;
}

/* .hero .container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} */

.button-hero {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid;
    font-size: 1em;
    background-color: inherit;
    color: rgba(89, 141, 102, 1);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}

.button-hero:hover {
    color: #FFF;
    background-color: rgba(55, 107, 68, 1);
}

.branding h1 {
    font-size: 2.5em;
    font-weight: 500;
    color: rgba(44, 45, 53, 1);
    margin-bottom: 20px;
}

.branding h1 span {
    color: rgba(89, 141, 102, 1);
}

.branding p {
    font-size: 18px;
    max-width: 540px;
    line-height: 27px;
    color: rgba(134, 146, 139, 1);
    margin-bottom: 60px;
}